<%- include('header') %>
<h2>about page</h2>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Doloribus asperiores qui corporis nulla. Itaque ex libero qui reiciendis quisquam eum.</p>

<%- include('footer') %>